
		<div id="footer_bar" class="footer_bar" align='center'>
			<!--<p class="text-center" ><img alt="Broad" height="60px" src="../static/images/ucsdLogo.png" /> &copy;2014 <a href="http://www.broadinstitute.org/">Broad Institute of Harvard and MIT</a> | <a href="http://www.broadinstitute.org/cancer">Cancer Program</a> | <a href="http://www.broadinstitute.org/cancer/cga">Cancer Genome Analysis</a></p>-->
			<div style="vertical-align: middle; margin-bottom: 5px">
				<a href="http://www.broadinstitute.org/">Broad Institute of Harvard and MIT</a> | <a href="http://www.broadinstitute.org/cancer">Cancer Program</a> | <a href="http://www.broadinstitute.org/cancer/cga">Cancer Genome Analysis</a>
			</div>
			<img alt="Broad" float='left' height="60px" src="../static/images/ucsdLogo.png" />

		</div>
	</body>
</html>